<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Add Medicine</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>

<div class="container my-5">
    <h2> Add Medicine</h2>
    <div class="card">
        <div class="card-body">
            <div class="block">
                <form action="#" th:action="@{/user/add}" th:object="${user}" method="post">
                    <div class="form-group col-md-8">
                        <label for="meName" class="col-form-label">Drug Name</label> <input type="text"
                                                                                            th:field="*{meName}"
                                                                                            class="form-control"
                                                                                            id="meName"
                                                                                            placeholder="Enter Drug Name">
                        <span th:if="${#fields.hasErrors('meName')}" th:errors="*{meName}" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-8">
                        <label for="dosage" class="col-form-label">Dosage</label> <input type="text"
                                                                                         th:field="*{dosage}"
                                                                                         class="form-control"
                                                                                         id="dosage"
                                                                                         placeholder="Enter Dosage">
                        <span th:if="${#fields.hasErrors('dosage')}" th:errors="*{dosage}" class="text-danger"></span>
                    </div>

                    <div class="form-group col-md-8">
                        <label for="frequency" class="col-form-label">Frequency</label> <input type="text"
                                                                                               th:field="*{frequency}"
                                                                                               class="form-control"
                                                                                               id="frequency"
                                                                                               placeholder="Enter Frequency">
                        <span th:if="${#fields.hasErrors('frequency')}" th:errors="*{frequency}"
                              class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-8">
                        <label for="note" class="col-form-label">Note</label> <input type="text" th:field="*{note}"
                                                                                     class="form-control" id="note"
                                                                                     placeholder="Enter Note"> <span
                            th:if="${#fields.hasErrors('note')}" th:errors="*{note}" class="text-danger"></span>
                    </div>

                    <div class="col-md-6">
                        <input type="submit" class="btn btn-primary" value="Summit">
                    </div>

                    <div class="form-group col-md-8"></div>

            </div>
            </form>
        </div>
    </div>
</div>
</div>
</body>

</html>